fastapi
uvicorn
openai
faiss-cpu
psycopg2-binary
scikit-learn
sentence-transformers
sqlalchemy
python-dotenv
pydantic
python-multipart
PyMuPDF  # Para leer PDFs
PyPDF2 
langchain
langchain-community  # AÑADIDO - necesario para OpenAIEmbeddings
faiss-cpu
openai
pymupdf
tiktoken